.container{
    display: grid;
    grid-template-areas: 
    "header header" 
    "profile main"
    "sidebar main"
    "sidebar comment"
    "footer footer";
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 5fr 2fr 1fr;
}
.container div{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.header{
    grid-area: header;
    background-color: lightblue;
}
.profile{
    grid-area: profile;
    background-color: lightcoral;
}
.sidebar{
    grid-area: sidebar;
    background-color: lightgreen;
}
.main{
    grid-area: main;
    background-color: lightpink;
}
.comment{
    grid-area: comment;
    background-color: lightslategray;
}
.footer{
    grid-area: footer;
    background-color: lightgray;
}
